<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>
    <%= t('author') %>
</title>
<meta name="description" content="profile resume">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- [if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![end if]-->
<% if (env === 'development'){ %>
<link rel="stylesheet" href="css/styles.css" />
<script async data-main="js/main.js" src="bower_components/requirejs/require.js"></script>
<% } %>

<% if (env === 'production'){ %>
<link rel="stylesheet" href="public/css/styles.min.css" />
<script async src="public/js/main.min.js"></script>
<% } %>