<div class='pull-right btn-group languages' role="group" aria-label="...">
    <button class="btn btn-default js-btn-en">English</button>
    <button class="btn btn-default js-btn-cn">中文</button>
</div>