<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="public/images/haircut.jpg" width="400" height="300"
                     class="img-responsive js-img-en" alt="plants"/>
                <img src="public/images/sun_flowers.jpg" width="400" height="300"
                     class="img-responsive js-img-cn" alt="sun_flowers" style="display: none"/>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
            <ul class="nav navbar-nav js-nav-links">
                <li class="js-btn-about-me" data-id="about-me">
                    <a><span class="icon sprite-about-me"></span><%= t("About Me") %></a>
                </li>
                <li class="js-btn-portfolio" data-id="portfolio">
                    <a>
                        <span class="icon sprite-portfolio"></span><%= t("Portfolio") %>
                    </a>
                </li>
                <li class="js-btn-contact-me" data-id="contact-me">
                    <a><span class="icon sprite-contact-me"></span><%= t("Contact me") %></a>
                </li>
                <li class="js-btn-source-codes" data-id="source-codes">
                    <a><span class="icon sprite-source-codes"></span><%= t("Projects") %></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>