<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>My App</title>
</head>
<body>

<h3>todo: error page</h3>
<p>Message: <%= message %></p>
<p>error: <%= error %></p>
</body>
</html>