<!DOCTYPE html>
<html class="">
<head>
  <%- include ./../partials/head %>
</head>
<body>
<div class='container'>
    <div class="row">
        <%- include ./../partials/loader %>
    </div>
    <div class="row">
        <%- include ./../partials/languages %>
    </div>
    <div class="row">
        <header class="col-sm-4 col-xs-12" role="banner">
            <%- include ./../partials/navbar %>
        </header>

        <main class="col-sm-8 col-xs-12 sec-main pages" role="main">
            <section class="js-page-about-me page">
                <%- include ./../pages/about_me %>
            </section>
            <section class="js-page-contact-me page">
                 <%- include ./../pages/contact_me %>
            </section>
            <section class="js-page-portfolio page clearfix">
                 <%- include ./../pages/portfolio %>
            </section>
            <section class="js-page-source-codes page">
                <%- include ./../pages/source_codes %>
            </section>
        </main>
    </div>
    <%- include ./../partials/footer %>
</div>
<%- include ./../partials/bottom_scripts %>
</body>
</html>