
body{
  background-color: @color-bg;
  color: @color-font;
  line-height: 1.5;
  font-size: @font-size-base;
}

h2{
  color: @color-bg;
  margin-bottom: 0;
  text-transform: capitalize;
}

footer{
  padding-top: 10px;
}

.sec-main{
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  .page{
    padding-bottom: 42px;
  }
}


//languages
.languages{
  padding-bottom: 20px;
}


//button
.btn-default {
  color: #fff;
  background-color: @color-bg;
  &:focus,
  &:hover{
    color: #fff;
    background-color: @color-bg-lightest;
  }
  &.active{
    background-color: #e6e6e6 !important;
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus {
  outline: -webkit-focus-ring-color auto 2px;
  outline-offset: -1px;
}

.contact-me-form {
  .glyphicon{
    right: 10px;
  }
}
