/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@about-me-icon-name: about-me-icon;
@about-me-icon-x: 0px;
@about-me-icon-y: 0px;
@about-me-icon-offset-x: 0px;
@about-me-icon-offset-y: 0px;
@about-me-icon-width: 19px;
@about-me-icon-height: 19px;
@about-me-icon-total-width: 40px;
@about-me-icon-total-height: 40px;
@about-me-icon-image: '../images/icon-sprites.png';
@about-me-icon: 0px 0px 0px 0px 19px 19px 40px 40px '../images/icon-sprites.png' about-me-icon;
@contact-icon-name: contact-icon;
@contact-icon-x: 21px;
@contact-icon-y: 0px;
@contact-icon-offset-x: -21px;
@contact-icon-offset-y: 0px;
@contact-icon-width: 19px;
@contact-icon-height: 19px;
@contact-icon-total-width: 40px;
@contact-icon-total-height: 40px;
@contact-icon-image: '../images/icon-sprites.png';
@contact-icon: 21px 0px -21px 0px 19px 19px 40px 40px '../images/icon-sprites.png' contact-icon;
@portfolio-icon-name: portfolio-icon;
@portfolio-icon-x: 0px;
@portfolio-icon-y: 21px;
@portfolio-icon-offset-x: 0px;
@portfolio-icon-offset-y: -21px;
@portfolio-icon-width: 19px;
@portfolio-icon-height: 19px;
@portfolio-icon-total-width: 40px;
@portfolio-icon-total-height: 40px;
@portfolio-icon-image: '../images/icon-sprites.png';
@portfolio-icon: 0px 21px 0px -21px 19px 19px 40px 40px '../images/icon-sprites.png' portfolio-icon;
@source-codes-icon-name: source-codes-icon;
@source-codes-icon-x: 21px;
@source-codes-icon-y: 21px;
@source-codes-icon-offset-x: -21px;
@source-codes-icon-offset-y: -21px;
@source-codes-icon-width: 19px;
@source-codes-icon-height: 19px;
@source-codes-icon-total-width: 40px;
@source-codes-icon-total-height: 40px;
@source-codes-icon-image: '../images/icon-sprites.png';
@source-codes-icon: 21px 21px -21px -21px 19px 19px 40px 40px '../images/icon-sprites.png' source-codes-icon;
@spritesheet-width: 40px;
@spritesheet-height: 40px;
@spritesheet-image: '../images/icon-sprites.png';
@spritesheet-sprites: @about-me-icon @contact-icon @portfolio-icon @source-codes-icon;
@spritesheet: 40px 40px '../images/icon-sprites.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
