/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@bootstrap-name: bootstrap;
@bootstrap-x: 217px;
@bootstrap-y: 0px;
@bootstrap-offset-x: -217px;
@bootstrap-offset-y: 0px;
@bootstrap-width: 215px;
@bootstrap-height: 215px;
@bootstrap-total-width: 866px;
@bootstrap-total-height: 866px;
@bootstrap-image: '../images/portfolio-sprites.png';
@bootstrap: 217px 0px -217px 0px 215px 215px 866px 866px '../images/portfolio-sprites.png' bootstrap;
@docker-name: docker;
@docker-x: 0px;
@docker-y: 434px;
@docker-offset-x: 0px;
@docker-offset-y: -434px;
@docker-width: 215px;
@docker-height: 215px;
@docker-total-width: 866px;
@docker-total-height: 866px;
@docker-image: '../images/portfolio-sprites.png';
@docker: 0px 434px 0px -434px 215px 215px 866px 866px '../images/portfolio-sprites.png' docker;
@expressjs-name: expressjs;
@expressjs-x: 0px;
@expressjs-y: 217px;
@expressjs-offset-x: 0px;
@expressjs-offset-y: -217px;
@expressjs-width: 215px;
@expressjs-height: 215px;
@expressjs-total-width: 866px;
@expressjs-total-height: 866px;
@expressjs-image: '../images/portfolio-sprites.png';
@expressjs: 0px 217px 0px -217px 215px 215px 866px 866px '../images/portfolio-sprites.png' expressjs;
@favicon-name: favicon;
@favicon-x: 217px;
@favicon-y: 217px;
@favicon-offset-x: -217px;
@favicon-offset-y: -217px;
@favicon-width: 215px;
@favicon-height: 215px;
@favicon-total-width: 866px;
@favicon-total-height: 866px;
@favicon-image: '../images/portfolio-sprites.png';
@favicon: 217px 217px -217px -217px 215px 215px 866px 866px '../images/portfolio-sprites.png' favicon;
@grunt-name: grunt;
@grunt-x: 434px;
@grunt-y: 0px;
@grunt-offset-x: -434px;
@grunt-offset-y: 0px;
@grunt-width: 215px;
@grunt-height: 215px;
@grunt-total-width: 866px;
@grunt-total-height: 866px;
@grunt-image: '../images/portfolio-sprites.png';
@grunt: 434px 0px -434px 0px 215px 215px 866px 866px '../images/portfolio-sprites.png' grunt;
@html5-name: html5;
@html5-x: 434px;
@html5-y: 217px;
@html5-offset-x: -434px;
@html5-offset-y: -217px;
@html5-width: 215px;
@html5-height: 215px;
@html5-total-width: 866px;
@html5-total-height: 866px;
@html5-image: '../images/portfolio-sprites.png';
@html5: 434px 217px -434px -217px 215px 215px 866px 866px '../images/portfolio-sprites.png' html5;
@i18next-name: i18next;
@i18next-x: 0px;
@i18next-y: 0px;
@i18next-offset-x: 0px;
@i18next-offset-y: 0px;
@i18next-width: 215px;
@i18next-height: 215px;
@i18next-total-width: 866px;
@i18next-total-height: 866px;
@i18next-image: '../images/portfolio-sprites.png';
@i18next: 0px 0px 0px 0px 215px 215px 866px 866px '../images/portfolio-sprites.png' i18next;
@jqurery-name: jqurery;
@jqurery-x: 217px;
@jqurery-y: 434px;
@jqurery-offset-x: -217px;
@jqurery-offset-y: -434px;
@jqurery-width: 215px;
@jqurery-height: 215px;
@jqurery-total-width: 866px;
@jqurery-total-height: 866px;
@jqurery-image: '../images/portfolio-sprites.png';
@jqurery: 217px 434px -217px -434px 215px 215px 866px 866px '../images/portfolio-sprites.png' jqurery;
@knockoutjs-name: knockoutjs;
@knockoutjs-x: 434px;
@knockoutjs-y: 434px;
@knockoutjs-offset-x: -434px;
@knockoutjs-offset-y: -434px;
@knockoutjs-width: 215px;
@knockoutjs-height: 215px;
@knockoutjs-total-width: 866px;
@knockoutjs-total-height: 866px;
@knockoutjs-image: '../images/portfolio-sprites.png';
@knockoutjs: 434px 434px -434px -434px 215px 215px 866px 866px '../images/portfolio-sprites.png' knockoutjs;
@less-name: less;
@less-x: 651px;
@less-y: 0px;
@less-offset-x: -651px;
@less-offset-y: 0px;
@less-width: 215px;
@less-height: 215px;
@less-total-width: 866px;
@less-total-height: 866px;
@less-image: '../images/portfolio-sprites.png';
@less: 651px 0px -651px 0px 215px 215px 866px 866px '../images/portfolio-sprites.png' less;
@requirejs-name: requirejs;
@requirejs-x: 651px;
@requirejs-y: 217px;
@requirejs-offset-x: -651px;
@requirejs-offset-y: -217px;
@requirejs-width: 215px;
@requirejs-height: 215px;
@requirejs-total-width: 866px;
@requirejs-total-height: 866px;
@requirejs-image: '../images/portfolio-sprites.png';
@requirejs: 651px 217px -651px -217px 215px 215px 866px 866px '../images/portfolio-sprites.png' requirejs;
@underscore-name: underscore;
@underscore-x: 651px;
@underscore-y: 434px;
@underscore-offset-x: -651px;
@underscore-offset-y: -434px;
@underscore-width: 215px;
@underscore-height: 215px;
@underscore-total-width: 866px;
@underscore-total-height: 866px;
@underscore-image: '../images/portfolio-sprites.png';
@underscore: 651px 434px -651px -434px 215px 215px 866px 866px '../images/portfolio-sprites.png' underscore;
@vagrant-name: vagrant;
@vagrant-x: 0px;
@vagrant-y: 651px;
@vagrant-offset-x: 0px;
@vagrant-offset-y: -651px;
@vagrant-width: 215px;
@vagrant-height: 215px;
@vagrant-total-width: 866px;
@vagrant-total-height: 866px;
@vagrant-image: '../images/portfolio-sprites.png';
@vagrant: 0px 651px 0px -651px 215px 215px 866px 866px '../images/portfolio-sprites.png' vagrant;
@spritesheet-width: 866px;
@spritesheet-height: 866px;
@spritesheet-image: '../images/portfolio-sprites.png';
@spritesheet-sprites: @bootstrap @docker @expressjs @favicon @grunt @html5 @i18next @jqurery @knockoutjs @less @requirejs @underscore @vagrant;
@spritesheet: 866px 866px '../images/portfolio-sprites.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
