.sprite-inline(@sprite) {
  .sprite(@sprite);
  display:inline-block;
}
.sprite-block(@sprite) {
  .sprite(@sprite);
  display:block;
}

//icons
.icon {
  margin-right: 15px;
  vertical-align: top;
}

.sprite-about-me {
  .sprite-inline(@about-me-icon);
}
.sprite-contact-me{
  .sprite-inline(@contact-icon);
}
.sprite-portfolio{
  .sprite-inline(@portfolio-icon);
}
.sprite-source-codes{
  .sprite-inline(@source-codes-icon);
}

//portfolio size 300X300
.sprite-bootstrap {
  .sprite-inline(@bootstrap);
}
.sprite-docker {
  .sprite-inline(@docker);
}
.sprite-favicon {
  .sprite-inline(@favicon);
}
.sprite-gruntjs {
  .sprite-inline(@grunt);
}
.sprite-i18next {
  .sprite-inline(@i18next);
}
.sprite-jquery {
  .sprite-inline(@jqurery);
}
.sprite-knockoutjs {
  .sprite-inline(@knockoutjs);
}
.sprite-requirejs {
  .sprite-inline(@requirejs);
}
.sprite-underscore {
  .sprite-inline(@underscore);
}
.sprite-vagrant {
  .sprite-inline(@vagrant);
}
.sprite-expressjs{
  .sprite-inline(@expressjs);
}
.sprite-less{
  .sprite-inline(@less);
}
.sprite-html5{
  .sprite-inline(@html5);
}