
//@color-font-cn: #383838;

//font families
//@font-family-base-cn: 'Source Sans Pro', sans-serif;

.theme.theme-cn {
  .colorDefs(@color-bg-cn, 2%, 7%);

    background-color: @color-bg;
    h2{
      color: @color-bg;
    }
    .btn-default {
      background-color: @color-bg;
    }

  .navbar.navbar-default
    {
      border-color: @color-bg-lightest;
    }

  .skill-categories {
    .category{
      .btn{
        background-color: @color-bg-lightest;
        border-color: @color-bg-lightest;
        &:hover,
        &.active{
          background-color: @color-bg;
          border-color: @color-bg;
        }
      }
    }
  }
  .jqbar
  {
      .bar-level
      {
        background-color: @color-bg-lightest !important;
      }
  }


  .jqbar{
    &.active .bar-level{
      //background-color: #199769!important;
      background-color: @color-bg-lighter !important;
    }
    &.horizontal{
      .bar-level-wrapper .bar-level{
        &:hover{
          background-color: @color-bg-lighter !important;
        }
      }
    }
  }

}



