
//colors
@color-font: #383838;

//font families
@font-family-base: 'Source Sans Pro', sans-serif;

@font-size-base: 16px;

@color-bg-default: #1b7e5a;
//theme_cn
@color-bg-cn: #ff7454;

.colorDefs(@color-background: @color-bg-default, @lighter-percentage: 5%, @lightest-percentage: 10%){
  @color-bg: @color-background;
  @color-bg-lighter: lighten(spin(@color-bg,5), @lighter-percentage);
  @color-bg-lightest: lighten(spin(@color-bg,5), @lightest-percentage);
}

.colorDefs();