.jqbar
{
  @jqbar-font-szie: 14px;
  position: relative;
  .bar-level
  {
    background-color: lighten(spin(@color-bg,5), 10%) !important;
  }
  &.vertical
  {
    text-align: center;
    display: inline-block;
    span
    {
      display: block;
      font-size: @jqbar-font-szie;
      font-weight: bold;
    }
    .bar-percent
    {
      font-size: @jqbar-font-szie;
      font-weight: bold;
      position: absolute;
      height: 20px;
      margin-bottom: 5px;
      width: 100%;
    }
    .bar-level-wrapper
    {
      position: relative;
      display: inline-block;
      overflow: hidden;
    }
    .bar-level
    {
      position: absolute;
    }
  }

  /*horizontal*/

  &.horizontal{
    span
    {
      display: inline-block;
      margin-left: 5px;
      font-size: @jqbar-font-szie;
      font-weight: bold;
    }
    .bar-percent
    {
      font-size: @jqbar-font-szie;
      font-weight: bold;
      height: 20px;
      margin-bottom: 5px;
    }
  }
}


.jqbar{
  &.active .bar-level{
    //background-color: #199769!important;
    background-color: lighten(spin(@color-bg,5), 5%) !important;
  }
  &.horizontal{
    &:first-of-type{
      &:before{
        content: '';
        width: 153px;
        height: 44px;
        display: block;
        position: relative;
        left: 200px;
        background-image: url(../images/img-tip.png);
        @media (max-width: 415px){
          left: 100px;
          top: 23px;
        }
      }
    }
    .bar-label{
      width: 85px;
      text-align: left;
      @media (max-width: 415px){
        display: block;
      }
    }
    .bar-level-wrapper .bar-level{
      border-radius: 50px;
      &:hover{
        cursor: pointer;
        .transition(0.3s linear);
        background-color: lighten(spin(@color-bg,5), 5%) !important;
      }
    }
  }
}


.bar-contents{
  margin-top: 20px;
  .bar-content{
    padding: 18px;
    background-color: #f1f1f1;
  }
  @media (min-width: @screen-lg-min){
    margin-top: 30px;
  }

}