
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    z-index: 1001;
    .animation(spin 2s linear infinite);
    &:before{
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: @color-font;
      .animation(spin 3s linear infinite);
    }
    &:after{
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #f9c922;
      .animation(spin 1.5s linear infinite);
    }
  }
  .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1000;
  }
  .loader-section.section-left {
    left: 0;
    background: @color-bg;
  }
  .loader-section.section-right {
    right: 0;
    background: @color-bg-cn;
  }
}


@-webkit-keyframes spin {
  0%   {
    .rotate(0deg);
  }
  100% {
    .rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    .rotate(0deg);
  }
  100% {
    .rotate(360deg);
  }
}


/* Loaded */
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  .transition(all .3s .6s ease-out);
  .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
  }
  .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
  }
  #loader {
    opacity: 0;
    .transition(all .3s ease-out);
  }
  .loader-section.section-right,
  .loader-section.section-left {
    .transition(all .3s .3s ease-in-out);
  }
}



.no-js #loader-wrapper {
  display: none;
}