// navbar vertical
.navbar.navbar-default
{
  background-color: #232323;
  border-color: #2e2e2e;
  max-width:402px;
  margin-right: 0;
  margin-left: 0;
  .container-fluid{
    padding: 0 0 0 15px;

  }
  .navbar-brand{
    float: none;
    padding: 0;
    height:auto;
    display: block;
  }
  ul{
    font-size: 0;
    >li{
      font-size: 20px;
      margin-left: -15px;
      border-bottom: 1px solid #2e2e2e;
      &:hover{
          cursor: pointer;
          background: #161616;
          .transition(0.3s linear);
        a{
          color: white;
        }
      }
      >a{
        color: white;
        font-weight:300;
      }
    }
  }
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-nav {
  margin: 0;
}

@media (max-width: @screen-xs-max){
  .container-fluid > .navbar-header{
    margin-right: 0;
  }
}