.portfolio{
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.skill-categories {
  .category{
    float: left;
    padding-right: 10px;
    .btn{
      text-transform: capitalize;
      margin-top: 10px;
      &:hover,
      &.active{
        background-color: lighten(spin(@color-bg,5), 5%);
        border-color: lighten(spin(@color-bg,5), 5%);
      }
      &:hover{
        .transition(0.3s linear);
      }
    }
  }
}

.skills{
  .skill{
    position: relative;
    perspective: 800px;
    width: 215px;
    height: 215px;
    border: 2px solid #fff;
    .transition(0.5s linear);
    .flip{
      &:hover{
        transform: rotateY( 180deg );
      }
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s;
      .front,
      .back{
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      .front{
        z-index: 2;
      }
      .back {
        background: #f8f8f8;
        transform: rotateY( 180deg );
        overflow-y: scroll;
        h4{
          text-transform: uppercase;
          text-align: center;
        }
        p{
          margin-top: 0;
          padding: 0 10px 10px;
        }
      }
    }
  }
}