<section>
    <h2><%= t("bruce") %></h2>
    <p><em><%= t("Junior Web Developer") %></em></p>
    <hr />
</section>
<article>
    <%= t("about_me_summary") %>
</article>
<hr />
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="jqbar jqbar-html active" data-id="jqbar-html"></div>
        <div class="jqbar jqbar-css" data-id="jqbar-css"></div>
        <div class="jqbar jqbar-js" data-id="jqbar-js"></div>
        <div class="jqbar jqbar-nodejs" data-id="jqbar-nodejs"></div>
    </div>
    <div class="col-md-12 col-lg-6 bar-contents">
        <article class="bar-content content-html active">
            HTML is a markup language used for structuring and presenting content for the World Wide Web and
            a core technology of the Internet.
        </article>
        <article class="bar-content content-css">
            CSS is a style sheet language used for describing the presentation semantics  of a document
            written in a markup language.
        </article>
        <article class="bar-content content-js">
            As part of web browsers, implementations allow client-side scripts to interact with the user
            and control the browser.
        </article>
        <article class="bar-content content-nodejs">
            Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine.
            Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
        </article>
    </div>
</div>


<% if (env !== 'production'){ %>
<p class="debug"><%= env %></p>
<% } %>