<h2>
    <%= t("Contact me") %>
    <hr />
</h2>
<div class="row">
    <p class="col-xs-12">I am available for freelance work. Fill in the form to discuss a project.</p>

    <form name="contact_me_form" class="contact-me-form" role="form">
        <div class="contact-form">
            <div class="col-sm-6 col-xs-12 form-group">
                <input type="text" name="name" id="client-name" class="form-control"
                       data-required="true"
                       data-validation="text" data-msg="Invalid Name" placeholder="Your Name" />
                <span id="client-name_v_icon" class="glyphicon form-control-feedback"></span>
            </div>
            <div class="col-sm-6 col-xs-12 form-group">
                <input type="text" name="email" id="client-email" class="form-control"
                       data-required="true"
                       data-validation="email" data-msg="Invalid E-Mail"
                       placeholder="Ex: youremail@domain.com">
                <span id="client-email_v_icon" class="glyphicon form-control-feedback"></span>
            </div>
            <div class="col-sm-6 col-xs-12 form-group">
                <input type="text" name="tel" class="form-control" data-required="false"
                       placeholder="Contact Number">
            </div>
            <div class="col-sm-6 col-xs-12 form-group">
                <select name="budget" id="client-budget" class="form-control" data-required="true"
                        data-msg="Budget is required">
                    <option value="">Please select your budget</option>
                    <option value="300">300 AUD</option>
                    <option value="1000">1000 AUD</option>
                    <option value="5000">5000 AUD</option>
                    <option value="10000">10000 AUD</option>
                    <option value="30000">30000 AUD</option>
                    <option value="50000">50000 AUD</option>
                </select>
            </div>


            <div class="col-xs-12 form-group">
                <textarea placeholder="Message" name="message" class="form-control" rows="5"></textarea>
            </div>

            <div class="form-group col-xs-12 send-message">
                <button class="btn btn-default">Send Message</button>
                <span class="status"></span>
            </div>
        </div>
    </form>
</div>
