<div class="portfolio">
    <div>
        <h2><%= t("Portfolio") %></h2>
    </div>
    <hr />
    <div>
        <ul class="skill-categories clearfix">
            <li class="category category-all">
                <button class="btn btn-info btn-sm active">All</button>
            </li>
            <% for (var i=0; i < data.portfolio.categories.length; i++){ %>
                <li class="category category-<%= data.portfolio.categories[i] %>">
                    <button class="btn btn-info btn-sm"><%= data.portfolio.categories[i] %></button>
                </li>
            <% } %>
        </ul>
        <ul class="skills">
            <% for (var i=0; i < data.portfolio.skills.length; i++){ %>
                <li class="skill skill-<%= data.portfolio.skills[i].name %> pull-left">
                    <div class="flip">
                        <figure class="front sprite-<%= data.portfolio.skills[i].name %>"></figure>
                        <article class="back">
                            <div>
                                <h4><%= data.portfolio.skills[i].name %></h4>
                                <p><%= data.portfolio.skills[i].description %></p>
                            </div>

                        </article>
                    </div>
                </li>
            <% } %>
        </ul>

    </div>
</div><!--end of .row.constructing -->
