<h2><%= t("Projects") %></h2>
<hr />
<div>
    <h3><%= t("Source codes") %></h3>
    <p>
        <a href="https://bitbucket.org/sixtyseven/bruce.resume/src">
            https://bitbucket.org/sixtyseven/bruce.resume/src
        </a>
    </p>
</div>


<hr />
<div>
    <h3><%= t("Other public projects") %></h3>
    <p>
        Excite Holidays public website:<br />
        <a href="https://www.exciteholidays.com/">
            https://www.exciteholidays.com/
        </a>
    </p>
</div>